$yellow:#550055;
$grey:#666;
$green:#0F0;
$btnSize:3rem;
$btnColor:$yellow;

$kaossHeight:38rem;
$kaossWidth:32rem;
$margin:1.2rem;

#kaoss{
  width:$kaossWidth;
  height:$kaossHeight;
  border-radius:$margin;
  background:$yellow;
  position:absolute;
  //centered
  left:50%;
  top:50%;
  margin:-$kaossHeight/2 0 0 -$kaossWidth/2;
  #reference{
    position:absolute;
    left:-3.1rem;
    top:-4rem;
    width:120%;
    z-index:9001;
    opacity:0;
  }
  .metal
  {
    margin:0 1.2rem;
    background:lightgrey;
    height:$kaossHeight - 2rem;
    padding:1rem;
  }

}
#pad{
  position:absolute;
  bottom:2.5rem;
  left:4rem;
  background-color:$grey;
  width:24rem;
  height:20rem;
  border-radius:1rem;
}
.display{
  color:$green;
  background-color:black;
  border-radius:.25rem;
  height:$btnSize;
  display:inline-block;
  width:5rem;
  margin:0;
}
.btn-container{
  position:absolute;
  right:$margin;
  width:$btnSize*3.5;
  height:2*$btnSize;
}
.btn{
  border-radius:$btnSize/2;
  width:$btnSize;
  height:$btnSize;
}
.btn:first-of-type{
  margin-top:$btnSize;
}

.knob{

  .knob-dent{

  }
}