html
    head
        link(rel='stylesheet',href='style.scss')
    body

        #kaoss
            .metal
                button.btn.knob
                - var n = 0
                while n < 12
                    - n++
                    span.knob-dent
                .btn-container
                    button.btn.btn-next
                        | A
                    button.btn.btn-prev
                        | B
                    button.btn.btn-loop
                        | C
                #lcd
                    p.display
                #pad
                    canvas
            img#reference(src='http://ecx.images-amazon.com/images/I/71eoP0%2BxkxS._SL1200_.jpg')

        script(src='bundle.js')