:root {
  --k-color-primary: #505;
  --k-color-grey: #666;
  --k-size-button: 1rem;
  --k-size-radius: 4rem;
  --k-font-size-button: 2rem;
  --k-color-button: var(--k-color-primary);
  --k-color-button-hover: #404;
  --k-size-knob: 8rem;
  --k-kaoss-height: 38rem;
  --k-kaoss-width: 42rem;
  --k-topbar-height: 13rem;
  --k-margin: 1.2rem;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Verdana, sans-serif;
  padding: 0;
}

.sr-only {
  display: none;
  visibility: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
